{% load i18n %}{% load url from future %}
{% if unavailable %}
    <h1>ERROR: Not running under uWSGI !</h1>
{% else %}
<div id="content-main" class="inline-related tabular">
    <div class="module">
        <table>
            <caption>{% trans 'uWSGI status' %}</caption>
            <tbody>
                <tr class="row1">
                    <th scope="row">{% trans 'masterpid' %}</th><td> {{ masterpid|stringformat:"d" }}</td>
                </tr><tr class="row2">
                    <th scope="row">{% trans 'started_on' %}</th><td> {{ started_on }}</td>
                </tr><tr class="row1">
                    <th scope="row">{% trans 'buffer size' %}</th><td> {{ buffer_size }}</td>
                </tr><tr class="row2">
                    <th scope="row">{% trans 'workers' %}</th><td> {{ numproc }}</td>
                </tr><tr class="row1">
                    <th scope="row">{% trans 'total requests' %}</th><td> {{ total_requests }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="module balanced">
        <table>
            <caption>{% trans 'workers' %}</caption>
            <thead>
                <tr>
                    <th>{% trans 'id' %}</th>
                    <th>{% trans 'pid' %}</th>
                    <th>{% trans 'requests' %}</th>
                    <th>{% trans 'running time (milliseconds)' %}</th>
                    <th>{% trans 'load' %}</th>
                    <th>{% trans 'last spawn' %}</th>
                    <th>{% trans 'respawn count' %}</th>
                    <th>{% trans 'address space (vsz)' %}</th>
                    <th>{% trans 'resident memory (rss)' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for w in workers %}
                <tr>
                    <td align="center">{{ w.id }}</td>
                    <td align="center">{{ w.pid }}</td>
                    <td align="right">{{ w.requests }}</td>
                    <td align="right">{{ w.running_time }}</td>
                    <td align="right">{{ w.load|floatformat:2 }} %</td>
                    <td align="right">{{ w.last_spawn_str }}</td>
                    <td align="right">{{ w.respawn_count }}</td>
                    <td align="right">{{ w.vsz|filesizeformat }}</td>
                    <td align="right">{{ w.rss|filesizeformat }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="module balanced">
        <table>
            <caption>{% trans 'spooler jobs' %}</caption>
            <thead>
                <tr>
                    <th>{% trans 'job filename' %}</th>
                    <th>{% trans 'environment' %}</th>
                </tr>
            </thead>
            <tbody>
        {% for j in jobs %}
            <tr>
                <td align="left">{{ j.file }}</td>
                <td align="left">{{ j.env }}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>

    {% if masterpid %}
    <br/>
    <form{% if has_file_field %} enctype="multipart/form-data"{% endif %} action="{% url 'admin:uwsgi_reload' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="{% trans 'gracefully reload uWSGI' %}" name="_reload">
    </form>
    {% endif %}
</div>
{% endif %}